nav#menu {
    font-family: "Georgia";
    z-index: 30;
    text-align: center;
    background: #025167; /* #a11c20;*/
    font-size: 1.4em;
    display: block;
    /*padding-left: 25%;*/
    margin: 20px auto;
}
nav#menu a {
    color: #39aecf; /*#e25a5e;*/
    text-decoration: none;
    text-shadow: #274f7d 1px -1px 0px; /*#8b181c*/
    display: inline-block;
    margin: 5px 20px;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
nav#menu a:hover, nav#menu a.selected {
    color: #ddf8dc; /*#f9dcdd;*/
}
nav#menu a:hover {
    /*
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;*/
}
nav#menu a.selected {
    color: white;
}

body {
    background-image: url('back.jpg');
    height: 100%;
}

#rectangle {
    height: 100%;
}

#content {
    position: relative;
    width: 900px;
    height: 100%;
    margin: 0 auto;
    opacity: 0.9;
    background-color: #025167;
    border-radius: 10px;
}

#login {
    position: relative;
    width: 300px;
    margin: 0 auto;
    font-weight:bold;
    color:#000000;
}

#register {
    width: 300px;
    display: none;
    margin: 0 auto;
}
